$color-primary: #3a424e;
$color-primary-dark: #1c232e;
$color-secondary: #bccff8;
$color-select: #5571ee;

$color-text-primary: white;
$color-text-primary-dark: #808080;

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
}

// KEYBOARD

.keyboard-wrapper {
  display: grid;
  grid-template-columns: repeat(15, 4rem);
  gap: 0.6rem;

  padding: 0.6rem;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 4rem;
  border-radius: 0.4rem;
  background-color: $color-primary;
  transform: all, 0.2s;

  font-size: 1.7rem;
  color: white;
  text-transform: inherit;

  &:hover {
    cursor: pointer;
    background-color: $color-select;
  }

  &--special {
    background-color: $color-primary-dark;
    color: $color-text-primary-dark;

    &:hover {
      color: white;
    }
  }

  &--Backspace,
  &--Tab,
  &--CapsLock,
  &--Enter,
  &--ShiftLeft,
  &--ControlLeft,
  &--ControlRight,
  &--AltLeft,
  &--AltRight {
    grid-column: span 2;
  }

  &--ShiftRight {
    grid-column: span 3;
  }

  &--Space {
    grid-column: span 7;
  }
}

// TODO LIST

.to-do-list-wrapper {
  display: grid;
  grid-auto-rows: 4rem;
  gap: 1rem;

  height: 40rem;
  width: 70rem;
  padding: 1rem;
  // background-color: $color-secondary;
  border: 0.5rem solid $color-primary-dark;
  border-radius: 1rem;
}

.to-do-list-item {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 1rem;
  background-color: $color-secondary;

  color: $color-primary;

  &:hover {
    cursor: pointer;
    background-color: $color-select;

    color: $color-text-primary;
  }
}
